{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "printWidth": 120,
    "importOrder": [
      "@/components/*",
      "@/utils/*",
      "@/api/*",
      "@/hooks/*",
      "@/styles/reset",
      "@/styles/*",
      "@/svg/*",
      "@/image/*"
    ]
  }
  